<!DOCTYPE html>
<html>
  <head>
    <title>HOMEPAGE
    </title>
  </head>
<form method="POST" action="/throw">
  <body  style="background-color:#F5F5DC;">
	<h2>
    <h1 style="text-align:center;">ROCK, PAPER, SCISSORS, LIZARD, SPOCK</h1>
	</br></br></br>
	<h3 style="text-align:center;">Before we start lets take a minute to familiarize ourselves with the rules.</h3>
	
	<p>Click to continue</p>
	<input type="submit" value="Continue >>" />
</form>	
  </body>
</html>