<!DOCTYPE html>
<html>
  <head>
  <title> Game rules
  </title>
  </head>
  <body style="background-color:#F5F5DC;">
  <form method="GET" action="/throw/">
    <p  >Rules:
      <ol>
        <li> Scissors cuts Paper</li>
        <li> Paper covers Rock</li>
        <li> Rock crushes Lizard</li>
        <li> Lizard posisons Spock</li>
        <li> Spock smashes Scissors</li>
        <li> Scissors decapitates Lizard</li>
        <li> Lizard eats Paper</li>
        <li> Paper disproves Lizard</li>
        <li> Spock vaporizes Rock</li>
        <li> Rock crushes Scissors</li>
      </ol>
    <p  style="text-align:center;">
      Click on the Button to Start Playing.
    </p>
	<div  style="text-align:center;">
    <input type="submit" value="Start Playing" />
    	</div>
  <br/>
  </form>
  </body>
</html>


